body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.2em;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 a {
    color: #333;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

.workout {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    padding-left: 1.5rem;
}

li {
    font-size: 1.1em;
    margin: 5px 0;
    line-height: 1.5;
}

.workout-item {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    padding: 8px 16px;
    /* Reduced padding for smaller buttons */
    background: #eee;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    /* Slightly smaller border radius */
    font-size: 14px;
    /* Smaller font size */
    font-weight: 500;
    /* Modern weight for the font */
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Smooth hover effect */
}

nav a:hover {
    background: #ddd;
    transform: scale(1.05);
    /* Slight scale effect on hover for a modern look */
}

nav a:active {
    background: #ccc;
    /* Change color when the button is clicked */
}


iframe {
    width: 100%;
    height: 1500px;
    border: none;
}

h2 {
    color: #2c3e50;
    margin-top: 2rem;
}

h3 {
    color: #34495e;
    margin-bottom: 0.5rem;
}

li {
    margin-bottom: 0.4rem;
}

.primary {
    color: #e74c3c;
    font-weight: bold;
}

.secondary {
    color: #f39c12;
}

.stabilizer {
    color: #27ae60;
}